<!--<p>proyectos works!</p>-->

<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
    
    <div class="col-sm-12 col-md-7 col-lg-7 primeraparte">
    <h2>Campus Carrera de Especialista en Medicina del Trabajo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, perspiciatis, blanditiis voluptas nulla autem facere aliquam hic provident, illum amet iste magni earum fuga unde? Debitis architecto amet tenetur molestiae?</p>
    </div>
    
    <div class="col-sm-12 col-md-7 col-lg-7 offset-md-1 offset-lg-1 segundaparte">
    <img src="../../../assets/campus.JPG" class="img-fluid img-proyectos">
    
    </div>
    