.gradient-custom {
    /* fallback for old browsers */
    background: #78afad ;;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: #78afad ;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #78afad ;
    }